<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.cosmetic.mybatis.service.impl.UserServiceImpl">
        <property name="baseDao" ref="userMapper"/>
    </bean>

    <bean class="com.cosmetic.mybatis.service.impl.AddressServiceImpl">
        <property name="baseDao" ref="addressMapper"/>
    </bean>
</beans>